// ag-grid.scss defines structural styles and should be imported first DO NOT REMOVE!
@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";


// Our default parameter overrides here

.ag-theme-custom-react {
  // Include the base theme as a fall back before overriding
  @include ag-theme-alpine((
    odd-row-background-color: #f5f5f5,
    row-border-color: transparent,
    row-hover-color: #dddddd,
    checkbox-checked-color: black,
    range-selection-border-color: #ff00b1,
    range-selection-background-color: #03305633,
    header-background-color: blue,
    header-foreground-color: white,
    header-height: 50px,

    // selected item color
    alpine-active-color: lightgray,

    //
    // SIZING / PADDING / SPACING
    //

    // grid-size is the main control for affecting how tightly data and UI elements are packed together. All padding and spacing in the grid is defined as a multiple of grid-size, so increasing it will make most components larger by increasing their internal white space while leaving the size of text and icons unchanged.
    grid-size: 4px,

    // The size of square icons and icon-buttons
    icon-size: 14px,

    // Height of grid rows
    row-height: ag-derived(grid-size, $times: 6, $plus: 1),

  ));
}
